<html>
  <head>
    <title>Help</title>
     <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="main-content">
      {{>header}}
    <p>Post your queries at</p>
    <p style="background-color: aliceblue;">harshjangitwar963@gmail.com</p>
    </div>

    {{>footer}}
    
  </body>
</html>